<header class="header">
   <div class="wrapper">
      <div class="header__menu">
         <div class="item">
            <img src="img/0-star.png" alt="0-star">
            <p class="text">
               <a href="">
                  <span class="dashed">№1 среди рекомендаций</span>
                  <span class="dashed stroke">урологов за 2018 год</span>
               </a>
            </p>
         </div>
         <div class="item center">
            <img src="img/0-house.png" alt="0-star">
            <p class="text">
               <a href="">
                  <span class="dashed">Эффективность подтверждена</span>
                  <span class="dashed">клиниками Германии и Минздравом</span>
               </a>
            </p>
         </div>
         <div class="item">
            <img src="img/0-feedback.png" alt="0-star">
            <p class="text">
               <a href="">
                  <span class="dashed">Отзывы за 2018 год</span>
               </a>
            </p>
         </div>
      </div>
      <div class="header__block">
         <div class="header__block__list">
            <div class="product__title">
               Дифорол
            </div>
            <h1 class="title">Забудьте о боли
               и частом
               мочеиспускании навсегда</h1>
            <p class="text">
               C первых дней избавит
               <span class="stroke">от проблем с мочевым</span> пузырем
               <span class="stroke">в независимости</span> от их причины
            </p>
            <ul class="list">
               <li>
                  <div class="check">
                     <svg xmlns="http://www.w3.org/2000/svg" width="25.313" height="18.656" viewBox="0 0 25.313 18.656">
                        <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                           <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                              <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                 <rdf:Description rdf:about=""/>
                              </rdf:RDF>
                           </x:xmpmeta>
                           <?xpacket end="w"?></metadata>
                        <defs>
                           <style>
                              .cls-1 {
                                 fill: #fff;
                                 fill-rule: evenodd;
                              }
                           </style>
                        </defs>
                        <path id="Forma_1" data-name="Forma 1" class="cls-1" d="M722.6,540.326L709.242,553.9l-7.026-7.131L699.75,549.3l9.492,9.665,15.821-16.109Z" transform="translate(-699.75 -540.313)"/>
                     </svg>
                  </div>
                  <p class="list-text"><span class="text__m-b">Избавляет от дискомфорта и боли</span>
                     <span class="stroke">в области живота</span></p>
               </li>
               <li>
                  <div class="check">
                     <svg xmlns="http://www.w3.org/2000/svg" width="25.313" height="18.656" viewBox="0 0 25.313 18.656">
                        <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                           <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                              <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                 <rdf:Description rdf:about=""/>
                              </rdf:RDF>
                           </x:xmpmeta>
                           <?xpacket end="w"?></metadata>
                        <defs>
                           <style>
                              .cls-1 {
                                 fill: #fff;
                                 fill-rule: evenodd;
                              }
                           </style>
                        </defs>
                        <path id="Forma_1" data-name="Forma 1" class="cls-1" d="M722.6,540.326L709.242,553.9l-7.026-7.131L699.75,549.3l9.492,9.665,15.821-16.109Z" transform="translate(-699.75 -540.313)"/>
                     </svg>
                  </div>
                  <p class="list-text"><span class="text__m-b">Приносит полное облегчение </span>
                     <span class="stroke">при посещения туалета</span></p>
               </li>
               <li>
                  <div class="check">
                     <svg xmlns="http://www.w3.org/2000/svg" width="25.313" height="18.656" viewBox="0 0 25.313 18.656">
                        <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                           <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                              <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                 <rdf:Description rdf:about=""/>
                              </rdf:RDF>
                           </x:xmpmeta>
                           <?xpacket end="w"?></metadata>
                        <defs>
                           <style>
                              .cls-1 {
                                 fill: #fff;
                                 fill-rule: evenodd;
                              }
                           </style>
                        </defs>
                        <path id="Forma_1" data-name="Forma 1" class="cls-1" d="M722.6,540.326L709.242,553.9l-7.026-7.131L699.75,549.3l9.492,9.665,15.821-16.109Z" transform="translate(-699.75 -540.313)"/>
                     </svg>
                  </div>
                  <p class="list-text"><span class="text__m-b">Защищает от рецидива</span>
                     <span class="stroke">дольше, чем на год</span></p>
               </li>

            </ul>
         </div>
         <div class="header__block__pack-form">
            <div class="pack">
               <img src="img/prod.png" alt="prod">
            </div>
            <div class="form">
               <p class="form__date">
                  Успейте купить<br>
                  по промо-цене<br>
                  <span class="text-orange">до<span class="date-0 ">до 01.09.2018</span></span>
               </p>
               <div class="form__prices">
                  <div class="form__prices__old">
                     <div class="old-title">Старая цена</div>
                     <div class="old-price">
                           <span class="x_price_previous">1980</span>
                           <span class="x_currency">руб</span>
                     </div>
                  </div>
                  <div class="form__prices__line"></div>
                  <div class="form__prices__new">
                     <div class="new-title">Новая цена</div>
                     <div class="new-price">
                        <span class="x_price_current">990</span>
                        <span class="x_currency">руб</span>
                     </div>
                  </div>
               </div>
               <p class="form__last">Осталось <span class="lastpack text-orange">15</span> упаковок
                  <br>со скидкой</p>
               <form action="/submit" method="post">
                  <div class="i-name">
                     <input type="text" name="name" placeholder="Имя">
                  </div>
                  <div class="i-phone">
                     <input type="text" name="phone" placeholder="Телефон">
                  </div>
                  <button type="submit" class="main__btn">
                     Заказать <br>
                     <span class="withD">со скидкой</span></button>

                  <div class="security">
                     <div class="security__img">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19" height="20"
                             viewBox="0 0 19 20">
                           <defs>
                              <path id="irula"
                                    d="M1634.75 703.96a.87.87 0 0 1-.5 0c-9.25-2.9-9.1-9.75-9-14.76l.02-1.54c0-.38.35-.7.78-.7 3.3 0 5.81-.85 7.91-2.7a.84.84 0 0 1 1.08 0c2.1 1.85 4.61 2.7 7.91 2.7.43 0 .78.32.78.7 0 .49 0 1 .02 1.54.1 5 .25 11.87-9 14.76zm7.45-14.73l-.01-.89c-3.1-.11-5.57-.96-7.69-2.63a12.68 12.68 0 0 1-7.69 2.63l-.01.89c-.11 5.03-.23 10.73 7.7 13.33 7.93-2.6 7.81-8.3 7.7-13.33zm-3.95 2.38c.3.27.3.72 0 .99l-4.27 3.86a.8.8 0 0 1-.55.2.8.8 0 0 1-.54-.2l-2.14-1.93a.65.65 0 0 1 0-.99c.3-.27.79-.27 1.09 0l1.6 1.44 3.72-3.37c.3-.27.8-.27 1.1 0z"/>
                           </defs>
                           <g>
                              <g transform="translate(-1625 -684)">
                                 <use fill="#b4d36d" xlink:href="#irula"/>
                              </g>
                           </g>
                        </svg>
                     </div>
                     <p class="security__text">Ваши данные защищены!</p>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</header>