<header class="header -bottom-section">
   <div class="wrapper">
      <div class="header__container">


         <div class="header__nav-menu">

            <div class="header__nav-item -first-item">
               <a href="#doctor" class="header__title">
                  <span class="dashed">№1 среди рекомендаций</span>
                  <span class="dashed">урологов за&nbsp;2018&nbsp;год</span>
               </a>
            </div>

            <div class="header__nav-item -second-item">
               <a href="#second" class="header__title">
                  <span class="dashed">Эффективность подтверждена</span>
                  <span class="dashed">клиниками Германии и Минздравом</span>
               </a>
            </div>

            <div class="header__nav-item -last-item">
               <a href="#slider-scroll" class="header__title">
                  <span class="dashed">Отзывы за&nbsp;2018&nbsp;год</span>
               </a>
            </div>

         </div>
         <div class="header__main-items-container">

            <!--_____ITEM_1____-->
            <div class="header__main-item -product-info">
               <h1 class="header__prod-name">Дифорол</h1>
               <h2 class="header__main-thing">Забудьте о&nbsp;боли
                  и&nbsp;частом
                  мочеиспускании навсегда
               </h2>
               <p class="header__more-info">C первых дней избавит
                  от&nbsp;проблем&nbsp;с&nbsp;мочевым&nbsp;пузырем
                  в&nbsp;независимости&nbsp;от&nbsp;их&nbsp;причины
               </p>


               <ul class="header__preferences-box">
                  <li class="header__preference">
                     <span>Избавляет от дискомфорта и боли</span>
                     в&nbsp;области&nbsp;живота
                  </li>
                  <li class="header__preference">
                     <span>Приносит полное облегчение</span>
                     при&nbsp;посещении&nbsp;туалета
                  </li>
                  <li class="header__preference">
                     <span>Защищает от рецидива</span>
                     дольше,&nbsp;чем&nbsp;на&nbsp;год
                  </li>
               </ul>
            </div>
            <!--_____ITEM_2____-->
            <div class="header__main-item -product-pack">
               <div class="header__image-frame">
                  <img src="./img/prod.png" alt="product">
               </div>
            </div>
            <!--_____ITEM_3____-->
            <div class="header__main-item -form">
               <div class="header__form-top">
                  <div class="header__head">Успейте купить <span class="ib">&nbsp;по&nbsp;промо-цене</span> <span
                          class="header__date">до <span class="date-0">03.01.2019</span></span></div>
                  <div class="price">
                     <div class="price__old">
                        <span class="price__title">Старая цена</span>
                        <div class="price__value">
                           <span class="price__number x_price_previous">1980</span>
                           <span class="price__currency x_currency">руб</span>
                        </div>
                     </div>
                     <div class="price__new">
                        <span class="price__title">Новая цена</span>
                        <div class="price__value">
                           <span class="price__number x_price_current">990</span>
                           <span class="price__currency x_currency">руб</span>
                        </div>
                     </div>
                  </div>
                  <div class="header__lastpack">
                     Осталось <span class="lastpack header__count">15</span> упаковок <span
                          class="ib">&nbsp;со&nbsp;скидкой</span>
                  </div>
                  <form action="/submit" method="post" class="x_order_header">
                     <label class="header__label-name header__label" for="header__header-name">
                        <input class="header__input header__input-name" id="header__header-name" name="name"
                               required="" autocomplete="name" placeholder="Моё имя">
                     </label>
                     <label class="header__label-tel header__label" for="header__header-tel">
                        <input class="header__input header__input-tel" id="header__header-tel" type="tel"
                               name="phone" required="" autocomplete="tel" placeholder="Мой телефон">
                     </label>
                     <button class="btn">
                        <span>
                            Заказать
                            <small class="btn__small">со скидкой</small>
                        </span>
                     </button>
                  </form>
                  <p class="header__footnote">* при заказе курса</p>
                  <p class="header__secure">Ваши данные защищены!</p>

               </div>

            </div>

         </div>

      </div>

   </div>
</header>