<section class="feel">
   <div class="wrapper flex-css">
      <h2 class="title feel__title">Вам знакомо ощущение,<br>
         что жизнь проходит в&nbsp;туалете?</h2>
      <div class="list list_feel">
         <div class="list__item ">
            <div class="list__pic">
               <img class="" src="img/feel1.png" alt="Bad feeling #1">
               <div class="list__counter"></div>
            </div>
            <p class="list__text">
               Постоянный дискомфорт<br>
               и&nbsp;боль внизу живота<br>
               при мочеиспускании
            </p>
         </div>
         <div class="list__item ">
            <div class="list__pic">
               <img class="" src="img/feel2.png" alt="Bad feeling #2">
               <div class="list__counter"></div>
            </div>
            <p class="list__text">
               Знакомые и сотрудники<br>
               считают, что вы больны,<br>
               и&nbsp;сторонятся вас
            </p>
         </div>
         <div class="list__item ">
            <div class="list__pic">
               <img class="" src="img/feel3.png" alt="Bad feeling #3">
               <div class="list__counter"></div>
            </div>
            <p class="list__text">
               Ваши постоянные походы<br>
               в&nbsp;туалет раздражают<br>
               вас и&nbsp;ваших близких
            </p>
         </div>
         <div class="list__item ">
            <div class="list__pic">
               <img class="" src="img/feel4.png" alt="Bad feeling #4">
               <div class="list__counter"></div>
            </div>
            <p class="list__text list__text_shorter">
               Страшно отправиться<br>
               на прогулку или пойти<br>
               в&nbsp;кино, так как позыв<br>
               в&nbsp;туалет может появиться<br>
               в&nbsp;любой момент
            </p>
         </div>
         
      </div>
      <h3 class="feel__subtitle">Частые мочеиспускания портят вам жизнь? Решение есть!</h3>
   </div>
</section>