<section class="effective">
   <div class="wrapp wrapp-top"><img class="effective__wave effective__wave-top" src="img/wave-top.png" alt="wave"></div>
   <div class="wrapp wrapp-bottom"><img class="effective__wave effective__wave-bottom" src="img/wave-bottom.png" alt="wave"></div>
   <svg class="effective__triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 24">
      <polygon class="one" points="0 0 58 0 29 24"></polygon>
   </svg>
   <div class="wrapper flex-css">
      <h2 class="title effective__title">
         <span class="color-pack">Дифорол</span> эффективен<br>
         при частом мочеиспускании
      </h2>
      <h3 class="effective__subtitle">
         Благодаря лекарственным свойствам самых целебных растений
      </h3>
      <div class="effective__from">
         <p class="effective__from-text">
            Настойка из полевого хвоща веками использовалась в&nbsp;Европе.
         </p>
      </div>
      <p class="effective__info"><b>Экстракт&nbsp;шалфея</b> и <b>листа&nbsp;толокнянки</b> на 89%
         усиливают противомикробные свойства <b>полевого&nbsp;хвоща</b> и на 92% ускоряют<br>
         восстановление мочеполовой системы от&nbsp;инфекций.</p>
      <div class="divider divider_effective">
         <svg class="divider__triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 11">
            <polygon class="one" points="0 0 1 0 15 10 29 0 30 0 15 11 0 0"></polygon>
         </svg>
         <div class="divider__check"></div>
      </div>
      <div class="components components_effective flex-css">
         <div class="components__item">
            <div class="components__circle">
               <img class="components__pic components__pic-1" src="img/components-1.png"
                 alt="Equisétum arvénse">
            </div>
            <p class="components__name">
               Equisétum<br>
               arvénse
            </p>
         </div>
         <div class="components__item">
            <div class="components__circle">
               <img class="components__pic components__pic-2" src="img/components-2.png"
                 alt="Salvia">
            </div>
            <p class="components__name">
               Salvia
            </p>
         </div>
         <div class="components__item">
            <div class="components__circle">
               <img class="components__pic components__pic-3" src="img/components-3.png"
                 alt="Arctostáphylos">
            </div>
            <p class="components__name">
               Arctostáphylos
            </p>
         </div>
      </div>
      <div class="effective__extra flex-css">
         <h3 class="effective__extra-title">
            Дополнительные компоненты для усиления формулы <span class="color-pack">Дифорола:</span>
         </h3>
         <div class="effective__extra-list flex-css">
            <div class="effective__extra-item effective__extra-item1 flex-css">
               <div class="effective__extra-circle flex-css">
                  <svg class="arrow-svg arrow-svg1" xmlns="http://www.w3.org/2000/svg" width="22" height="42" viewBox="0 0 22 42">
                     <path id="bp8ta" d="M1274.863 2571.34a.831.831 0 0 1 1.176.01l8.167 8.33.367-37.192a.832.832 0 0 1 1.663.016l-.367 37.192 8.33-8.166a.831.831 0 1 1 1.163 1.187l-9.763 9.572a.83.83 0 0 1-1.175-.011l-9.572-9.763a.83.83 0 0 1 .011-1.176z" transform="translate(-1274 -2541)"/>
                  </svg>
                  <svg class="check-svg" xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                     <path d="M888.597 2603.325l-13.355 13.574-7.026-7.13-2.466 2.535 9.492 9.665 15.821-16.109z"
                       transform="translate(-865 -2603)"/>
                  </svg>
               </div>
               <h5 class="effective__extra-subtitle">
                  Anéthum
               </h5>
               <p class="effective__extra-text">
                  Снимает воспаления, предотвращает<br>
                  инфекции мочеполовой системы
               </p>
            </div>
            <div class="effective__extra-item effective__extra-item2 flex-css">
               <div class="effective__extra-circle flex-css">
                  <svg class="arrow-svg arrow-svg2" xmlns="http://www.w3.org/2000/svg" width="22" height="42" viewBox="0 0 22 42">
                     <path id="bp8ta" d="M1274.863 2571.34a.831.831 0 0 1 1.176.01l8.167 8.33.367-37.192a.832.832 0 0 1 1.663.016l-.367 37.192 8.33-8.166a.831.831 0 1 1 1.163 1.187l-9.763 9.572a.83.83 0 0 1-1.175-.011l-9.572-9.763a.83.83 0 0 1 .011-1.176z" transform="translate(-1274 -2541)"/>
                  </svg>
                  <svg class="check-svg" xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                     <path d="M888.597 2603.325l-13.355 13.574-7.026-7.13-2.466 2.535 9.492 9.665 15.821-16.109z"
                       transform="translate(-865 -2603)"/>
                  </svg>
               </div>
               <h5 class="effective__extra-subtitle">
                  Achilléa millefólium
               </h5>
               <p class="effective__extra-text">
                  Ускоряет и облегчает процессы<br>
                  вывода мочи
               </p>
            </div>
            <div class="effective__extra-item effective__extra-item3 flex-css">
               <div class="effective__extra-circle flex-css">
                  <svg class="arrow-svg arrow-svg3" xmlns="http://www.w3.org/2000/svg" width="22" height="42" viewBox="0 0 22 42">
                        <path id="bp8ta" d="M1274.863 2571.34a.831.831 0 0 1 1.176.01l8.167 8.33.367-37.192a.832.832 0 0 1 1.663.016l-.367 37.192 8.33-8.166a.831.831 0 1 1 1.163 1.187l-9.763 9.572a.83.83 0 0 1-1.175-.011l-9.572-9.763a.83.83 0 0 1 .011-1.176z" transform="translate(-1274 -2541)"/>
                  </svg>
                  <svg class="check-svg" xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                     <path d="M888.597 2603.325l-13.355 13.574-7.026-7.13-2.466 2.535 9.492 9.665 15.821-16.109z"
                       transform="translate(-865 -2603)"/>
                  </svg>
               </div>
               <h5 class="effective__extra-subtitle">
                  Plantágo
               </h5>
               <p class="effective__extra-text">
                  Повышает иммунитет организма и&nbsp;его<br>
                  сопротивляемость инфекциям, от&nbsp;которых<br>
                  страдает мочеполовая система
               </p>
            </div>
         </div>
      </div>
      
      
      
      <div class="effective__bottom">
         <p class="effective__bottom-text">
            Именно благодаря комбинации натуральных компонентов <span class="color-pack">Дифорол</span> быстро помогает<br>
            от проблемы частого мочеиспускания вне зависимости от его причин.
         </p>
      </div>
      
      
   </div>
</section>
<section class="podlozhka">
</section>