<section class="effective">
   <div class="wrapper flex-css">
      <h2 class="title effective__title">
         <span class="color-pack">Дифорол</span> эффективен<br>
         при частом мочеиспускании
      </h2>
      <h3 class="effective__subtitle">
         Благодаря лекарственным свойствам самых целебных растений
      </h3>
      <div class="effective__from">
         <p class="effective__from-text">
            Настойка из полевого хвоща веками использовалась в Европе.
         </p>
      </div>
      <p class="effective__info"><b>Экстракт шалфея</b> и <b>листа толокнянки</b> на 89%
         усиливают противомикробные свойства <b>полевого хвоща</b> и на 92% ускоряют<br>
         восстановление мочеполовой системы от инфекций.</p>
      <div class="divider divider_effective">
         <svg class="divider__triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 11">
            <polygon class="one" points="0 0 1 0 15 10 29 0 30 0 15 11 0 0"></polygon>
         </svg>
         <div class="divider__check"></div>
      </div>
      <div class="components components_effective flex-css">
         <div class="components__item">
            <div class="components__circle">
               <img class="components__pic components__pic-1" src="img/components-1.png"
                 alt="Equisétum arvénse">
            </div>
            <p class="components__name">
               Equisétum<br>
               arvénse
            </p>
         </div>
         <div class="components__item">
            <div class="components__circle">
               <img class="components__pic components__pic-2" src="img/components-2.png"
                 alt="Salvia">
            </div>
            <p class="components__name">
               Salvia
            </p>
         </div>
         <div class="components__item">
            <div class="components__circle">
               <img class="components__pic components__pic-3" src="img/components-3.png"
                 alt="Arctostáphylos">
            </div>
            <p class="components__name">
               Arctostáphylos
            </p>
         </div>
      </div>
      <div class="effective__extra flex-css">
         <h3 class="effective__extra-title">
            Дополнительные компоненты для усиления формулы <span class="color-pack">Дифорола:</span>
         </h3>
      
      </div>
      
      
      
      
   </div>
</section>