<section class="new-life">
    <div class="wrapper">
        <!--<h2 class="new-life__banner title">Как изменится ваша жизнь
            &nbsp;после&nbsp;избавления&nbsp;от&nbsp;проблем с мочеиспусканием
        </h2>-->
        <h2 class="new-life__banner title">Как изменится ваша жизнь
            <span>после избавления &nbsp;от&nbsp;проблем &nbsp;с&nbsp;мочеиспусканием</span>
        </h2>
        <div class="new-life__items-container">
            <div class="new-life__item -sleep">
                <div class="new-life__image-box">
                </div>
                <span class="new-life__item-number"></span>
                <p class="new-life__item-description">Вы спокойно спите ночью,
                    &nbsp;а&nbsp;не&nbsp;встаете по несколько раз
                    для похода в туалет</p>
            </div>
            <div class="new-life__item -no-wc">
                <div class="new-life__image-box">
                </div>
                <span class="new-life__item-number"></span>
                <p class="new-life__item-description">Вы больше не бегаете по несколько
                    &nbsp;раз&nbsp;в&nbsp;туалет, когда волнуетесь</p>
            </div>
            <div class="new-life__item -drink">
                <div class="new-life__image-box">
                </div>
                <span class="new-life__item-number"></span>
                <p class="new-life__item-description">Вы можете пить много жидкости
                    &nbsp;и&nbsp;ни&nbsp;о&nbsp;чем не беспокоиться</p>
            </div>
            <div class="new-life__item -easy-life">
                <div class="new-life__image-box">
                </div>
                <span class="new-life__item-number"></span>
                <p class="new-life__item-description">Вы спокойно живете, зная,
                    что ваш мочевой пузырь &nbsp;не&nbsp;подведет
                    &nbsp;вас&nbsp;в&nbsp;ответственный момент</p>
            </div>
            <div class="new-life__item -cinema">
                <div class="new-life__image-box">
                </div>
                <span class="new-life__item-number"></span>
                <p class="new-life__item-description">Вы можете спокойно сидеть в кино, театре
                    и на других мероприятиях, не волнуясь,
                    что придется по много раз ходить в туалет</p>
            </div>
            <div class="new-life__item -health">
                <div class="new-life__image-box">
                </div>
                <span class="new-life__item-number"></span>
                <p class="new-life__item-description">Вы больше не чувствуете себя больным
                    человеком - вы можете планировать
                    &nbsp;и&nbsp;реализовывать свою жизнь</p>
            </div>
        </div>


        <p class="new-life__statistic">За 2018 год уже 15436 человек избавились от частого мочеиспускания.</p>
        <p class="new-life__prod-help">
            <span>Дифорол</span> поможет и вам!</p>

        <div class="new-life__form-box">

            <div class="new-life__form-row">
                <img src="./img/prod.png" alt="prod" class="new-life__prod-in-form">
                <div class="new-life__prices">

                        <div class="new-life__prices -old">
                            <div class="new-life__old-price">
                                <div class="title">&nbsp;Старая&nbsp;цена:</div>
                                <span class="x_price_previous">1980</span>
                                <span class="x_currency">руб</span>
                            </div>
                        </div>

                        <div class="new-life__line"></div>

                        <div class="new-life__prices -new">
                            <div class="new-life__new-price">
                                <div class="title">&nbsp;Новая&nbsp;цена:</div>
                                <span class="x_price_current">990</span>
                                <span class="x_currency">руб</span>
                            </div>
                        </div>

                </div>
            </div>

            <div class="new-life__form-row -second">
                <form action="/submit" method="post" class="x_order_form new-life__form">
                    <label class="new-life__input-block -name">
                        <input type="text" name="name" required autocomplete="name" placeholder="Моё имя" class="new-life__input">
                    </label>
                    <label class="new-life__input-block -phone">
                        <input type="tel" name="phone" required autocomplete="tel" placeholder="Мой телефон" class="new-life__input">
                    </label>
                    <button type="submit" class="new-life__submit-btn">
                        Избавиться
                        <span>от проблем</span>
                    </button>
                    <p class="new_snoska">* при заказе курса</p>
                </form>
            </div>

        </div>
    </div>
</section>