<section class="doctor">
    <div class="wrapper">
        <h2 class="doctor__banner title">Заслуженный врач РФ, Дмитрий&nbsp;Шилов рекомендует
            <span>Дифорол</span>
        </h2>
        <div class="doctor__article-container">

            <div class="doctor__photo">
                <img src="../img/5-doctor.png" alt="doc">
            </div>


            <div class="doctor__description">
                <h4 class="doctor__title">
                    <span>Дифорол</span> — универсальное средство,
                    которое я рекомендую всем при частом мочеиспускании.
                </h4>

                <p class="doctor__text">Я уже сбился со счета, скольких своих пациентов вылечил с&nbsp;помощью препарата Дифорол. Счет идет на сотни, это точно.
                </p>

                <p class="doctor__text">Почему я его рекомендую? Это средство <span>универсальное</span>,
                оно&nbsp;помогает несмотря на причину частых позывов к опорожнению мочевого пузыря.
                Оно безопасное, состоит только из натуральных компонентов и поэтому у него нет никаких
                противопоказаний, оно не&nbsp;вызывает аллергических реакций, не имеет побочных эффектов.
                Это <span>эффективное</span> средство. Уже после первого применения
                у&nbsp;человека пропадает дискомфорт в области мочевого пузыря
                и&nbsp;посещение туалета приносит полное облегчение.
                </p>

                <h5 class="doctor__name">Дмитрий&nbsp;Шилов,</h5>
                <p class="doctor__text -sign">заслуженный врач РФ, автор научных статей, эксперт в области урологии.</p>
            </div>

        </div>
    </div>
</section>