<section class="feedback">
    <div class="wrapper">
        <h2 class="feedback__banner title" id="slider-scroll">Отзывы реальных покупателей</h2>
        <div class="feedback__slider-container feedback-slider">


            <div class="feedback__slider-border">
            <div class="feedback__slide">
                <img src="../img/6-slide1.png" alt="item1" class="feedback__buyer-photo">
                <h5 class="feedback__buyer-name -first-name">Марк Литвинов</h5>
                <div class="feedback__quote -first-quote">
                    <p class="feedback__quote-text">Помог с первого же дня!</p>
                </div>
                <p class="feedback__comment">Никогда не бегал часто в туалет
                    по&nbsp;маленькому. А потом простудился
                    и&nbsp;начались проблемы, мог каждый час&nbsp;по&nbsp;три&nbsp;раза в&nbsp;туалет бегать.
                    В&nbsp;больнице посоветовали Дифорол.
                    Я&nbsp;врачам не очень доверяю и решил проверить это средство у знакомого фармацевта.
                    Ну, она и сказала, что средство это хорошее и безопасное. Когда&nbsp;с почты его забрал,
                    у меня больничные уже заканчивались
                    и&nbsp;на&nbsp;работу было страшно возвращаться. Это ж не работа, когда в туалет постоянно бегаешь.
                    Но все было хорошо, благодаря Дифоролу. Он как оказалось, с первого применения помогает.
                    Ноющие ощущения внизу живота прошли и в туалет не бегал. Прошел весь курс и чувствую себя отлично.
                </p>
                <button class="feedback__show-button button-scroll"></button>
            </div>
            </div>


            <div class="feedback__slider-border">
            <div class="feedback__slide">
                <img src="../img/6-slide2.png" alt="item2" class="feedback__buyer-photo">
                <h5 class="feedback__buyer-name">Артем Ивов</h5>
                <div class="feedback__quote">
                    <p class="feedback__quote-text">Вернул&nbsp;себе&nbsp;комфортную
                        и&nbsp;спокойную&nbsp;жизнь</p>
                </div>
                <p class="feedback__comment">
                    В какой-то момент я заметил, что стал часто бегать в туалет. Мне это очень мешало и на работе, и дома.
                    Я&nbsp;пошел&nbsp;к&nbsp;врачу. Там долго не могли диагностировать проблему мою,
                    в&nbsp;итоге&nbsp;объявили синдром слабого мочевого пузыря. Мне легче не стало от&nbsp;этого. Дифорол я купил просто
                    по&nbsp;рекламе, и очень рад своему решению.&nbsp;Он мне помог вернуть контроль&nbsp;над мочевым пузырем!
                    И&nbsp;даже&nbsp;больше, с тех пор как пропил прошло 2 месяца, а у меня даже насморка не было!
                    Он мне иммунитет поднял.
                </p>
                <button class="feedback__show-button button-scroll"></button>
            </div>
            </div>


            <div class="feedback__slider-border">
            <div class="feedback__slide">
                <img src="../img/6-slide3.png" alt="item3" class="feedback__buyer-photo">
                <h5 class="feedback__buyer-name">Леонид Столяров</h5>
                <div class="feedback__quote">
                    <p class="feedback__quote-text">Просто в восторге!
                        Чувствую&nbsp;себя&nbsp;лучше, чем раньше!</p>
                </div>
                <p class="feedback__comment">Когда у меня начались приступы туалетной зависимости,
                    я сразу накупил&nbsp;себе целую кучу препаратов.
                     Они минимально помогали. В туалет  &nbsp;по-маленькому&nbsp;я&nbsp;бегал&nbsp;реже. Но скоро стало хуже,
                    у меня начались проявляться&nbsp;побочные эффекты
                    от&nbsp;тех&nbsp;лекарств. Я&nbsp;испугался и&nbsp;перестал&nbsp;их&nbsp;принимать и опять
                    стал&nbsp;часто&nbsp;бегать в туалет. Друг детства&nbsp;приехал в гости и мы на кухне
                    за&nbsp;приятной беседой весь вечер провели. Он посмотрел, что я туалет часто бегаю и посоветовал мне дифолор.
                    Сказал, что побочных эффектов у него нет совсем никаких и бояться нечего. Так и произошло.
                    Дифорол меня за день вернул в жизни нормальной и никаких побочных эффектов.
                </p>
                <button class="feedback__show-button button-scroll"></button>
            </div>
            </div>

            <!--slides - COPY-->
            <div class="feedback__slider-border">
                <div class="feedback__slide">
                    <img src="../img/6-slide1.png" alt="item1" class="feedback__buyer-photo">
                    <h5 class="feedback__buyer-name -first-name">Марк Литвинов</h5>
                    <div class="feedback__quote -first-quote">
                        <p class="feedback__quote-text">Помог с первого же дня!</p>
                    </div>
                    <p class="feedback__comment">Никогда не бегал часто в туалет
                        по&nbsp;маленькому. А потом простудился
                        и&nbsp;начались проблемы, мог каждый час&nbsp;по&nbsp;три&nbsp;раза в&nbsp;туалет бегать.
                        В&nbsp;больнице посоветовали Дифорол.
                        Я&nbsp;врачам не очень доверяю и решил проверить это средство у знакомого фармацевта.
                        Ну, она и сказала, что средство это хорошее и безопасное. Когда&nbsp;с почты его забрал,
                        у меня больничные уже заканчивались
                        и&nbsp;на&nbsp;работу было страшно возвращаться. Это ж не работа, когда в туалет постоянно бегаешь.
                        Но все было хорошо, благодаря Дифоролу. Он как оказалось, с первого применения помогает.
                        Ноющие ощущения внизу живота прошли и в туалет не бегал. Прошел весь курс и чувствую себя отлично.
                    </p>
                    <button class="feedback__show-button button-scroll"></button>
                </div>
            </div>


            <div class="feedback__slider-border">
                <div class="feedback__slide">
                    <img src="../img/6-slide2.png" alt="item2" class="feedback__buyer-photo">
                    <h5 class="feedback__buyer-name">Артем Ивов</h5>
                    <div class="feedback__quote">
                        <p class="feedback__quote-text">Вернул&nbsp;себе&nbsp;комфортную
                            и&nbsp;спокойную&nbsp;жизнь</p>
                    </div>
                    <p class="feedback__comment">
                        В какой-то момент я заметил, что стал часто бегать в туалет. Мне это очень мешало и на работе, и дома.
                        Я&nbsp;пошел&nbsp;к&nbsp;врачу. Там долго не могли диагностировать проблему мою,
                        в&nbsp;итоге&nbsp;объявили синдром слабого мочевого пузыря. Мне легче не стало от&nbsp;этого. Дифорол я купил просто
                        по&nbsp;рекламе, и очень рад своему решению.&nbsp;Он мне помог вернуть контроль&nbsp;над мочевым пузырем!
                        И&nbsp;даже&nbsp;больше, с тех пор как пропил прошло 2 месяца, а у меня даже насморка не было!
                        Он мне иммунитет поднял.
                    </p>
                    <button class="feedback__show-button button-scroll"></button>
                </div>
            </div>


            <div class="feedback__slider-border">
                <div class="feedback__slide">
                    <img src="../img/6-slide3.png" alt="item3" class="feedback__buyer-photo">
                    <h5 class="feedback__buyer-name">Леонид Столяров</h5>
                    <div class="feedback__quote">
                        <p class="feedback__quote-text">Просто в восторге!
                            Чувствую&nbsp;себя&nbsp;лучше, чем раньше!</p>
                    </div>
                    <p class="feedback__comment">Когда у меня начались приступы туалетной зависимости,
                        я сразу накупил&nbsp;себе целую кучу препаратов.
                        Они минимально помогали. В туалет  &nbsp;по-маленькому&nbsp;я&nbsp;бегал&nbsp;реже. Но скоро стало хуже,
                        у меня начались проявляться&nbsp;побочные эффекты
                        от&nbsp;тех&nbsp;лекарств. Я&nbsp;испугался и&nbsp;перестал&nbsp;их&nbsp;принимать и опять
                        стал&nbsp;часто&nbsp;бегать в туалет. Друг детства&nbsp;приехал в гости и мы на кухне
                        за&nbsp;приятной беседой весь вечер провели. Он посмотрел, что я туалет часто бегаю и посоветовал мне дифолор.
                        Сказал, что побочных эффектов у него нет совсем никаких и бояться нечего. Так и произошло.
                        Дифорол меня за день вернул в жизни нормальной и никаких побочных эффектов.
                    </p>
                    <button class="feedback__show-button button-scroll"></button>
                </div>
            </div>



        </div>
    </div>
</section>