<section class="usage">
    <div class="wrapper">
        <h2 class="usage__banner title">
            Как применять <span>Дифорол</span>
        </h2>
        <div class="usage__items-container">
            <div class="usage__product-image-box">
                <img src="../img/prod.png" alt="product" class="usage__image">
            </div>

            <div class="usage__description">
                <p class="usage__description-text">1 чайная ложка <span>Дифорола</span> в день позволит навсегда
                    избавиться от проблемы частого мочеиспускания.</p>
                <h5 class="usage__additional-info">*Курс лечения длится 1 - 1,5 месяца</h5>
            </div>
        </div>


        <div class="usage__divider">
            <svg class="usage__divider-triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 11">
                <polygon class="one" points="0 0 1 0 15 10 29 0 30 0 15 11 0 0"></polygon>
            </svg>
            <div class="usage__divider-check"></div>
        </div>





    </div>
</section>


<!--______ORDER_______-->
<section class="order">
    <div class="wrapper">
    <h2 class="order__banner title">Как заказать</h2>
    <div class="order__item-container">
        <div class="order__item -first-step">
            <span class="order__item-number"></span>
            <p class="order__item-title">Оставляете заявку
                в форме заказа</p>
        </div>
        <div class="order__item -second-step">
            <span class="order__item-number"></span>
            <p class="order__item-title">Наш оператор перезвонит
                для уточнения всех деталей</p>
        </div>
        <div class="order__item -third-step">
            <span class="order__item-number"></span>
            <p class="order__item-title">Оплата товара только
                после получения</p>
        </div>
    </div>
        <div class="order__additional-info">Доставка производится анонимно в непрозрачной упаковке</div>

    </div>
</section>