<div class="ever-popup-build">
   <div class="pop-up" id="cloneThis">
      <div class="pop-up__box">
         <div class="popup-title">
            <h3></h3>
         </div>
         <div class="pop-up__content">
            <div class="pop-up__left">
               <div class="image-pack">
                  <img src="img/prod.png" alt="pack">
               </div>
            </div>
            <div class="pop-up__right">
               <div class="form-box">
                  <div class="form-pop">
                     <div class="form-pop__head">Успейте купить <span class="ib">по промо-цене</span> <span class="form-pop__date">до <span class="date-0">01.09.2018</span></span></div>
                     <div class="price">
                        <div class="price__old">
                           <span class="price__title">Старая цена</span>
                           <div class="price__value">
                              <span class="price__number x_price_previous">1980</span>
                              <span class="price__currency x_currency">руб</span>
                           </div>
                        </div>
                        <div class="price__new">
                           <span class="price__title">Новая цена</span>
                           <div class="price__value">
                              <span class="price__number x_price_current">990</span>
                              <span class="price__currency x_currency">руб</span>
                           </div>
                        </div>
                     </div>
                     <div class="form-pop__lastpack">
                        Осталось <span class="lastpack form-pop__count">15</span> упаковок <span class="ib">со скидкой</span>
                     </div>
                     <form action="/submit" method="post" class="x_order_form-pop">
                        <label class="form-pop__label-name form-pop__label" for="header__form-pop-name">
                           <input class="form-pop__input form-pop__input-name" id="header__form-pop-name" name="name" required autocomplete="name" placeholder="Моё имя">
                        </label>
                        <label class="form-pop__label-tel form-pop__label" for="header__form-pop-tel">
                           <input class="form-pop__input form-pop__input-tel" id="header__form-pop-tel" type="tel" name="phone" required autocomplete="tel" placeholder="Мой телефон">
                        </label>
                        <button class="btn">
                        <span>
                            Заказать
                            <small class="btn__small">со скидкой</small>
                        </span>
                        </button>
                     </form>
                     <p class="form-pop__footnote">* при заказе курса</p>
                     <p class="form-pop__secure">Ваши данные защищены!</p>
                  
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>