.cls-1 {
  fill: #fff;
  fill-rule: evenodd;
}

.header {
  min-height: 800px;
  background: url('../img/men.png') center 91px no-repeat,
  url('../img/0-header-bg.png') center top no-repeat;
  padding: 41px 0 0;

  &__form-additional-color {
    color: $black20;
  }
  &__bottom-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__form {
    margin-top: 11px;
  }
  &__info {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: $black20;
    background-color: #fff2d4;
    border-radius: 28px;
    &.-shipping {
      width: 302px;
      padding: 17px 5px 5px 86px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 58px;
        height: 34px;
        margin-top: -4px;
        margin-left: -76px;
        background: url("../img/0-free-shipping.png") no-repeat;
      }
    }
    &.-payment {
      width: 302px;
      padding: 5px 5px 5px 80px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 42px;
        height: 42px;
        margin-left: -60px;
        background: url("../img/0-payment.png") no-repeat;
      }
    }
  }

}

.form-banner-bg {
  display: block;
  background-color: #fff2d4;
  width: 100%;
}

.header__menu {
  display: flex;
  .item {
    display: flex;
    align-items: center;
    &.-last-item {
      margin-left: 116px;
    }
    .text {
      color: #444444;
      font-size: 17px;
      position: relative;
      margin: 0 0 0 15px;
      width: 303px;
      a {
        .dashed {
          border-bottom: 1px dashed rgba(68, 68, 68, 0.47843137254901963);
        }
      }
    }
  }
  .center {
    min-width: 345px;
    position: relative;
    margin: 0 25px 0 85px;
    &:after {
      height: 40px;
      width: 1px;
      background-color: #b1d7e4;
      position: absolute;
      content: '';
      left: -78px;
      top: 2px;

    }
    &:before {
      height: 40px;
      width: 1px;
      background-color: #b1d7e4;
      position: absolute;
      content: '';
      right: -62px;
      top: 2px;
    }
  }
}

.header__block {
  display: flex;
  align-items: flex-start;
  margin: 54px 0 0;
  justify-content: space-between;
  &__list {
    width: 400px;
    h1 {
      text-align: left;
      font-weight: 900;
      margin: 0;
      font-size: 50px;
      line-height: 46px;
    }
    .product__title {
      color: #2a3d70;
      font-weight: 500;
      font-size: 39px;
      margin: 0 0 22px;
    }
    .text {
      color: #444444;
      font-size: 21px;
      margin: 17px 0 0;
      line-height: 27px;
    }
    .list {
      display: flex;
      flex-direction: column;
      margin: 38px 0 0;
      li {
        display: flex;
        margin: 8px 0 0;
        .check {
          background: #edb440;
          width: 35px;
          height: 35px;
          display: flex;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
        }
        .list-text {
          font-size: 20px;
          color: #444444;
          margin: 7px 0 0 14px;
        }
      }
    }
  }
  &__pack-form {
    display: flex;
    align-items: flex-start;
    .pack {
      margin-top: 300px;
      position: relative;
      width: 490px;
      //height: 699px;
      //background:  url('../img/men.png');
    }
  }
}