.doctor {
  display: block;
  width: 100%;
  //background: url("../img/5-bg.png") no-repeat 174px 363px;
  background: url("../img/5-bg.png") no-repeat calc(50% - 470px) 363px;
  padding: 129px 0 0;
  &__banner {
    max-width: 900px;
    margin: 0 auto 45px;
    text-align: center;
    span {
      color: $violet;
    }
  }
  &__article-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1170px;
  }
  &__photo {
    display: block;
    margin-top: 3px;
    margin-left: 18px;
    max-width: 544px;
    //min-height: 754px;
  }
  &__description {
    display: block;
    max-width: 600px;
    padding-left: 2px;
    text-align: left;
  }
  &__title {
    font-size: 22px;
    font-weight: 500;
    padding-top: 21px;
    padding-bottom: 31px;
    span {
      color: $violet;
    }
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: $black44;
    padding-bottom: 28px;
    span {
      color: $black20;
      font-weight: 500;
    }
    &.-sign {
      &:after {
        display: block;
        position: absolute;
        width: 152px;
        height: 99px;
        content: "";
        background: url("../img/5-sign.png") no-repeat;
        margin: -10px 0 0 45px;
      }
    }
  }
  &__name {
    font-size: 22px;
    font-weight: 500;
  }
}
@media all and (max-width: 1199px) {
  .doctor {
    background: url("../img/5-bg.png") no-repeat calc(50% - 420px) 363px;
    padding: 30px 0 0;
    &__photo {
      max-width: 400px;
      margin-top: 150px;
      //min-height: unset;
    }
    &__description {
      max-width: 539px;
    }
  }
}
@media all and (max-width: 1023px) {
  .doctor {
    background: url("../img/5-bg.png") no-repeat calc(50% - 320px) 363px;
    padding: 50px 0 0;
    &__banner {
      margin-bottom: 10px;
    }
    &__photo {
      max-width: 300px;
      margin-top: 212px;
    }
    &__description {
      max-width: 400px;
    }
    &__title {
      font-size: 17px;
      line-height: 20px;
    }
    &__text {
      font-size: 16px;
      line-height: 20px;
      &.-sign:after {
        margin: 5px 0 0 45px;
      }
    }
  }
}
@media all and (max-width: 767px) {
  .doctor {
    padding: 70px 0 0;
    background-size: 400px 600px;
    background-position: center 100px;
  &__photo {
      order: 2;
      margin-top: 100px;
    }
    &__description {
      order: 1;
    }
  }
}
@media all and (max-width: 479px) {
  .doctor {
      padding: 80px 0 0;
    &__banner {
      line-height: 24px;
    }
    &__title {
      padding-top: 5px;
      padding-bottom: 15px;
    }
    &__text {
      padding-bottom: 15px;
      &.-sign:after {

      }
    }
  }
}