.feedback {
  display: block;
  width: 100%;
  background: url("../img/4-bg-2layers.png") 100% no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: -110px;
  position: relative;
  z-index: auto;
  &__banner {
    display: block;
    padding: 91px 0 73px;
    text-align: center;
    font-weight: 700;
    color: $black20;
  }
  &__slider-container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 83px;
    align-items: flex-start;
  }
  &__slide {
    display: block;
    position: relative;
    width: 370px;
    min-height: 660px;
    //margin-top: 44px;
    //margin-bottom: 23px;
    margin: 44px auto 23px;
    //padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  &__buyer-photo {
    display: block;
    margin-top: -44px;
    margin-left: calc(50% - 121px);
    position: absolute;
  }
  &__buyer-name {
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: $black20;
    padding: 156px 0 28px;
    /*&.-first-name {
      padding: 155px 0 28px 0;
    }*/
  }
  &__quote {
    background-color: #f7d373;
    padding: 24px 0 16px;
    &.-first-quote {
      padding: 38px 0 25px;
      &:before {
        margin: -54px auto 28px;
      }
    }
    &:before {
      display: block;
      height: 15px;
      position: relative;
      margin: -39px auto 16px;
      text-align: center;
      content: " “ ";
      font-size: 53px;
      font-weight: 500;
      color: $violet;
    }
  }
  &__quote-text {
    padding: 0 35px;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: $black20;
  }
  &__comment {
    margin-bottom: 43px;
    padding: 22px 12px 38px;
    height: 334px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: $black44;
    overflow: hidden;
  }

  &__show-button {
    display: block;
    position: absolute;
    width: 43px;
    height: 43px;
    margin-bottom: -22px;
    bottom: 0;
    left: calc(50% - 22px);
    //margin: 24px auto -19px;
    border: none;
    border-radius: 50%;
    background: url("../img/6-show-arrow.png") center center no-repeat, #82aa34;
  }
}

/*_______SHOW-HIDE TEXT BUTTON______*/
.feedback__comment-active {
  transition: 0.6s;
  height: auto;
}

.feedback__show-button-active {
  transform: rotate(180deg);
  transition: 0.8s;
}

/*_______SHOW-HIDE TEXT BUTTON end______*/

@media all and (max-width: 1240px) {
  .feedback {
    &__slider-container {
      max-width: 1100px;
    }
    &__slide {
      width: 340px;
    }
    &__quote-text {
      padding: 0 22px;
    }
  }
}
@media all and (max-width: 1199px) {
  .feedback {
    &__slider-container {
      max-width: 960px;
    }
    &__slide {
      width: 300px;
    }
    &__quote-text {
      padding: 0 5px;
      font-size: 17px;
    }
    &__comment {
      font-size: 17px;
      line-height: 24px;
    }
  }
}
@media all and (max-width: 1023px) {
  .feedback {
    margin-top: -80px;
    &__slider-container {
      max-width: 630px;
      padding-bottom: 30px;
    }
    &__banner {
      padding: 57px 0 68px;
    }
  }
}
@media all and (max-width: 767px) {
  .feedback {
    &__slider-container {
      max-width: 360px;
      padding-bottom: 30px;
    }
  }
}
@media all and (max-width: 479px) {
  .feedback {
    &__banner {
      padding: 30px 0;
    }
    &__slider-container {
      max-width: 280px;
    }
    &__slide {
      width: 280px;
    }
    &__quote-text {
      padding: 0 5px;
      font-size: 16px;
    }
    &__comment {
      line-height: 21px;
      font-size: 16px;
    }
  }
}
.feedback__comment {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(to bottom, rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.7) 47%, #FFFFFF 90%, #FFFFFF 100%);
    width: 100%;
    height: 60px;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &-active {
    &:after {
      display: none;
    }
  }
}