.usage {
  display: block;
  width: 100%;
  background-color: #ffffff;
  &__banner {
    padding: 66px 0;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    line-height: 22px;
    color: $black20;
    span {
      color: $violet;
    }
  }
  &__items-container {
    display: block;
    margin: 0 auto;
    padding-bottom: 94px;
    max-width: 1042px;
  }
  &__product-image-box {
    display: inline-block;
    width: 100%;
    max-width: 367px;
    margin-top: 38px;
    margin-left: 110px;
    position: relative;
    //width: 357px;
    height: 194px;
    background: url("../img/7-prod-bg.png") no-repeat;
    background-position-x: 9px;
  }
  &__image {
    display: block;
    position: absolute;
    margin-top: -39px;
    margin-left: -100px;
    width: 196px;
    //height: 279px;
  }
  &__description {
    display: inline-block;
    width: 100%;
    max-width: 507px;
    margin-left: 43px;
    vertical-align: top;
  }
  &__description-text {
    margin-top: 38px;
    padding: 18px 0 37px 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    color: $black20;
    span {
      color: $violet;
    }
  }
  &__additional-info {
    max-width: 474px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 59px;
    color: $black20;
    background-color: #e8f3da;
    border-radius: 30px;
  }
  &__order-banner {
    padding: 63px 0 66px;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    line-height: 22px;
    color: $black20;
  }

  /*______arrow-line______*/
  &__divider {
    position: relative;
    width: 100%;
    height: 11px;
    &:before, &:after {
      content: "";
      position: absolute;
      width: calc(50% - 14px);
      height: 1px;
      top: 0;
      left: 0;
      background: #9ebcc6;
    }
    &:after {
      left: auto;
      right: 0;
    }
  }
  &__divider-triangle {
    width: 30px;
    height: 11px;
    fill: #9ebcc6;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

}

.order {
  display: block;
  width: 100%;

  &__banner {
    padding: 69px 0 46px;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    line-height: 22px;
    color: $black20;
  }
  &__items-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: section;
  }
  &__item {
    display: block;
    width: 100%;
    max-width: 367px;
    position: relative;
    &.-first-step {
      background: url("../img/7-order-image-1.png") 70px 26px no-repeat,
                  url("../img/7-order-bg-1.png") center 26px no-repeat;
    }
    &.-second-step {
      background: url("../img/7-order-image-2.png") 0px 1px no-repeat,
                  url("../img/7-order-bg-2.png") center 26px no-repeat;
    }
    &.-third-step {
      background: url("../img/7-order-image-3.png") -2px 8px no-repeat,
                  url("../img/7-order-bg-3.png") center 26px no-repeat;
    }

  }
  &__item-number {
    display: block;
    width: 51px;
    height: 51px;
    position: relative;
    text-align: center;
    margin: 205px auto 12px;
    padding-top: 25px;
    padding-left: 1px;
    background-color: rgba(255, 211, 110, 0.93);
    font-size: 57px;
    font-weight: 700;
    line-height: 26px;
    color: $violet;
    border-radius: 50%;
    &:before {
      counter-increment: section;
      content: counter(section);
    }
  }
  &__item-title {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: $black20;
    &.-last-rule {
      padding-top: 3px;
    }
  }
  &__additional-info {
    display: block;
    margin: 52px auto;
    max-width: 750px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 59px;
    color: $black20;
    background-color: #e8f3da;
    border-radius: 30px;
  }
}
@media all and (max-width: 1199px) {
  .usage {
    &__description {
      margin-left: 15px;
    }
    &__banner {
      padding: 0 0 66px;
    }
    &__items-container {
      max-width: 1003px;
    }
  }
  .order {

    &__custom-padding {
      padding-top: 0 !important;
    }
    &__banner {
      padding-top: 0;
    }
    &__items-container {
      max-width: 1001px;
    }
    &__item {
      max-width: 300px;
      &.-first-step {
        background: url("../img/7-order-image-1.png") center 26px no-repeat,
        url("../img/7-order-bg-1.png") center 26px no-repeat;
      }
      &.-second-step {
        background: url("../img/7-order-image-2.png") center 1px no-repeat,
        url("../img/7-order-bg-2.png") center 26px no-repeat;
      }
      &.-third-step {
        background: url("../img/7-order-image-3.png") -46px 8px no-repeat,
        url("../img/7-order-bg-3.png") center 26px no-repeat;
      }
    }
    &__additional-info {
      margin: 52px auto 0;
    }
  }
}
@media all and (max-width: 1023px) {
  .usage {
    &__banner {
      padding: 0 0 86px;
    }
    &__product-image-box {
      display: block;
      margin: 0 auto;
    }
    &__description {
      display: block;
      margin: 0 auto;
    }
    &__description-text {
      padding-top: 45px;
    }
    &__items-container {
      padding-bottom: 45px;
    }
  }
  .order {
    &__banner {
      padding-bottom: 30px;
    }
    &__item {
      margin: 10px auto;
    }
    &__additional-info {
      margin: 30px auto 0;
    }
  }
}
@media all and (max-width: 767px) {
  .usage {
    &__banner {
      padding: 0 0 55px;
    }
    &__items-container {
      padding-bottom: 40px;
    }
    &__product-image-box {
      max-width: 300px;
      background-position-x: -57px;
    }
    &__image {
      margin-top: -17px;
      margin-left: -85px;
      width: 161px;
    }
    &__description-text {
      padding: 15px 0 30px;
      text-align: center;
    }
  }
  .order {
    &__banner {
      padding-bottom: 5px;
    }
    &__additional-info {
      max-width: 440px;
      margin: 15px auto 0;
      padding: 8px 22px;
      line-height: 30px;
      border-radius: 37px;
    }
  }

}
@media all and (max-width: 479px) {
  .usage {
    &__banner {
      padding: 0 0 40px;
    }
    &__image {
      display: none;
    }
    &__items-container {
      padding-bottom: 35px;
    }
    &__description-text {
      padding: 0 0 25px;
    }
    &__additional-info {
      max-width: 300px;
      padding: 10px 39px;
      border-radius: 40px;
      font-size: 21px;
      font-weight: 500;
      line-height: 30px;
    }
  }
  .order {
    &__item {
      margin: 0 auto 10px;
    }
    &__additional-info {
      font-size: 20px;
    }
  }
}